@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html {
  margin: 0;
  height: 100%;
  background-color: #f3f3f3;
  font-size: 15px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; /* Prend toute la place disponible */
}

section {
  padding: 0 60px;
  max-width: 1200px;
  margin-inline: auto;
  width: 100%;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 1024px) {
  html {
    font-size: 13px;
  }
  body {
    padding: 0 24px;
  }
}
